*{
  vertical-align: top;
  box-sizing: border-box;
}
@font-face {
    font-family: 'Avenir'; /*a name to be used later*/
    src:"fonts/AvenirNextLTPro-Regular.otf"; /*URL to font*/
}

.head{
  text-align: justify;
}

.topBorder{
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 18vh;
  background-color: #9B9A8D;
}

.homeButton{
  position: relative;
  display:block;
  top: 2vh;
  left:2vw;
}

.topBorder p{
  position: relative;
  float:left;
  font-size: 28px;
  font-family: 'Avenir';
  font-weight: 100;
  color: #FFFFFF;
  display: block;
  top: 5vh;
  left: 9vw;
}

.albumDisplay{
  text-align: justify;
  position:relative;
  display: block;
  height: 18vh;
  width: 100vw;
}

.displayImage{
  position: relative;
  float: left;
  height: 90px;
  width: 90px;
  margin-left: 40px;
  top: 2vh;
  left: 6.5vw;
}

.scrollBar{
  position: relative;
  display: block;
  height: 2vh;
  width: 100vw;
  background-color: #9B9A8D;
}

.trackBox{
  position: relative;
  display: block;
  height: 30vh;
  width: 75vw;
  left: 12.5vw;
  background-color: #EEEEEE;
  border: 2px solid black;
  top: 2vh;
}

.buttonArea{
  text-align: justify;
  display:block;
  position: relative;
  width:100vw;
  height: 26vh;
}

.clearButton{
  position: relative;
  float: left;
  font-family: 'Avenir';
  font-size: 20px;
  color: #FFFFFF;
  background-color: #353426;
  border-radius: 5px;
  width: 12vw;
  height: 6vh;
  border: none;
  left: 10.5vw;
  top: 4vh;
  margin-left: 2vw;
}

.submitButton{
  position: relative;
  float: left;
  font-family: 'Avenir';
  font-size: 20px;
  color: #FFFFFF;
  background-color: #353426;
  border-radius: 5px;
  width: 12vw;
  height: 6vh;
  border: none;
  top: 4vh;
  left: 12.5vw;
}

.foot{
  text-align: justify;
  position: relative;
  display:block;
  font-size: 0px;
  width: 100vw;
  height: 6vh;
  background-color:#9B9A8D;
}

.foot p{
  position: relative;
  float:left;
  font-size: 20px;
  font-family: 'Avenir';
  color: #FFFFFF;
  margin:0;
  left: 10vw;
  top: 1vh;
}
